language: ruby
os: osx
osx_image: xcode9.4
rvm: system

# Remove Xcode and CommandLineTools included in default macOS image.
# This ensures the Command Line Tool install functionality is tested.
before_script:
  - travis_wait sudo rm -rf /Applications/Xcode.app /Library/Developer/CommandLineTools
  - sudo pkgutil --forget com.apple.pkg.CLTools_Executables
  - sudo gem install rubocop

script:
  - rubocop
  - ./uninstall -d
  - ./uninstall -f
  - ./install --force-curl
  - ./uninstall -f
  - ./install
  - brew install ack
  - ./uninstall -f
