language: ruby
os: osx
env: OSX=10.11
osx_image: xcode7.3
rvm: system

# Remove Xcode and CommandLineTools included in default OS X image.
# This ensures the Command Line Tool install functionality is tested.
before_script:
  - sudo rm -rf /Applications/Xcode.app /Library/Developer/CommandLineTools
  - sudo pkgutil --forget com.apple.pkg.CLTools_Executables

script:
  - ./uninstall -d
  - ./uninstall -f
  - ./install
  - brew install ack
  - ./uninstall -f
